<footer class="p-4 text-slate-500 text-center">
  <p class="mb-3">
    Copyright &copy; Summer 2024 Full Stack Intern at Supplyframe
  </p>
  <div class="flex justify-center space-x-4">
    <p>Omkar Yadav</p>
    <p>2+ YOE</p>
    <a href="https://www.linkedin.com/in/omkar-yadav10/">LinkedIn</a>
  </div>
</footer>
