<div
  id="movieDetailModal"
  class="hidden fixed inset-0 bg-slate-950 bg-opacity-80 overflow-y-auto h-full w-full z-50 flex items-center justify-center"
>
  <div
    class="relative mx-auto w-full max-w-4xl shadow-lg rounded-lg bg-white transform transition-all"
  >
    <div id="modalContent" class="p-4 bg-slate-950 text-white rounded-lg"></div>
    <button
      id="closeModal"
      class="absolute top-0 right-0 mt-4 mr-4 text-white bg-red-600 hover:bg-red-700 focus:outline-none rounded-full text-sm p-2"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
</div>
