<nav class="flex justify-between items-center bg-slate-950 px-20 py-10">
  <a href="/" class="text-xl gradient-text font-bold">GrainyDays</a>
  <div class="flex items-center space-x-6">
    <div class="flex items-center relative">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 pt-0.5 text-gray-600"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
      <input
        class="ml-2 outline-none bg-transparent placeholder-slate-500"
        type="text"
        name="search"
        id="searchInput"
        placeholder="Search..."
      />
      <div
        id="searchResults"
        class="absolute mt-1 p-4 bg-black border rounded shadow hidden"
      ></div>
    </div>
    <!-- <a href="/" class="font-semibold text-slate-500">Home</a>
    <a href="/categories" class="font-semibold text-slate-500">Genres</a>
    <a href="/about" class="font-semibold text-slate-500">About</a>
    <a href="/contact" class="font-semibold text-slate-500">Contact</a> -->
  </div>
</nav>
